            body {
                font-family: sans-serif;
                margin: 0px;
            }
            .container {
                margin: 20px;
                padding: 20px;
                text-align: center
            }
            
            .container2 {
                margin: 10px;
                background-color: pink;
                padding: 20px;
                color: white  
            }
                       
            .container3 {
                margin: 50xp;
                padding: 20xp;
            }
                
        
            .topnav {
                background-color:dimgrey;
                overflow: hidden;
            }
                
            .topnav a {
                  float: left;
                  color: #f2f2f2;
                  text-align: center;
                  padding: 14px 16px;
                  text-decoration: none;
                  font-size: 17px;
            }

            .topnav a:hover {
                  background-color: darkseagreen;
                  color: black;
            }

            .topnav a.active {
                  background-color: forestgreen;
                  color: white;
            }

            table, th, td {
                    border: 1px solid black;
                    color: black;
                    
            }

            .inputbox {
                margin-top: 20px;
                margin-bottom: 20px;
                float: right;
            }
            
